<a href="https://colab.research.google.com/github/ismailCrafts/pythonCraft/blob/main/Introduction/syntax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 🖨️ Python Syntax & `print()` Function

---

## 🔹 What is Python Syntax?

**Syntax** in Python refers to the set of rules that defines how Python code must be written. It determines the structure of programs. If you write something that doesn't follow Python's syntax, it will throw a `SyntaxError`. Example: forgetting colons, incorrect indentation, or using invalid characters.

---

## 🔸 Understanding the `print()` Function (Deep Explanation)

The `print()` function is a **built-in output function** in Python that sends information to the standard output — usually the terminal or console. It’s most commonly used to display text, variable values, or debugging messages. Despite its simplicity, it’s a powerful tool that teaches core ideas like data representation, formatting, and function behavior.

`print()` is used to show messages on the screen. It doesn’t give back any result — it just shows things. Inside, it uses something called **sys.stdout.write()** to do that. **[sys.stdout.write() is a method in Python used to write output to the "system standard output" stream, typically the console.]**

**🤔Example:**
```python
print("Name:", "Alice", "," ,"Age:" ,30)
```
**Output:**
```
Name: Alice , Age: 30
```

`print()` automatically converts non-string types (like integers, lists, etc.) to strings using `str()`. This makes it easy for beginners to print almost anything without worrying about types.

Mastering `print()` early is critical. It's not just a tool for output — it's a way to see inside your program’s behavior. The way you use `print()` can dramatically improve how you understand and debug your code.

##🔹 print() Function Syntax in Python:


```
print(*objects, sep=' ', end='\n', file=sys.stdout, flush=False)

```
| Parameter  | What it means                              | Default           | Simple Example                            |
| ---------- | ------------------------------------------ | ----------------- | ----------------------------------------- |
| `*objects` | The things you want to print (can be many) | Required          | `print("Hello", "World")` → `Hello World` |
| `sep`      | The separator between items                | `' '` (a space)   | `print("A", "B", "C", sep='-')` → `A-B-C` |
| `end`      | What to print at the end                   | `'\n'` (new line) | `print("Hello", end='!')` → `Hello!`      |
| `file`     | Where to print (default is screen)         | `sys.stdout`      | Not often used                    |
| `flush`    | Force the output to appear right away      | `False`           | Usually not needed               |


**🔸 `print()` Arguments Explained Simply.**

✅ 1. `*objects` (required)

- These are the things you want to print — like text, numbers, or variables.

- You can write one or many items, separated by commas(" , ").

**🤔Example:**
```python
print("Hello", "World", 2025)
# Output: Hello World 2025

```

✅ 2. `sep=' ' `(optional)

- "sep" stands for separator.

- It controls what goes between the items.

- **Default** is a `empty space (" ") usually refers to whitespace.`

**🤔Example:**
```python
print("A", "B", "C", sep='-')
# Output: A-B-C
```

✅ 3. `end='\n'` (optional)

- end controls what comes at the end of the line.

- Default is a new line (\n), meaning it goes to the next line.

- You can change it, like putting dots or keeping everything on one line.

**🤔Example:**
```python
print("Hello", end="")
print("World")
# Output: HelloWorld

```

> ⚠️ **Note:**  
The `file` and `flush` parameters are part of the full `print()` function syntax, but they are **advanced features** mostly used in **file handling** or **real-time output control**.  
For basic and most practical use, **you can safely ignore them**.

---

## ✅ Basic Examples

In [ ]:
# Printing a simple message
print("Hello, world!")

In [ ]:
# Printing multiple items
print("Name:", "Alice", 25)

In [ ]:
# Custom separator and ending
print("Python", "is", "awesome", sep="-", end="!!!\n")

---
## ❌ Common Errors

| Code                           | Error                           | Why it Fails                   |
|--------------------------------|----------------------------------|-------------------------------|
| `print "Hello"`               | `SyntaxError`                    | Missing parentheses (Python 3) |
| `Print("Hello")`              | `NameError`                      | Python is case-sensitive       |
| `print('Hello)`               | `SyntaxError`                    | Missing closing quote          |

---
## 🧪 Practice Tasks

1. Print your full name.
2. Print your favorite number and a sentence using `print()`.
3. Use `print()` with a custom separator (`sep`).
4. Print this shape using three print statements:

```
*
**
***
```

---
## ✅ Solutions

In [ ]:
# Task 1
print("Tareq Azad")

In [ ]:
# Task 2
print("My favorite number is", 7)

In [ ]:
# Task 3
print("Python", "Rocks", sep=" >> ")

In [ ]:
# Task 4
print("*")
print("**")
print("***")

---
## 🔽 Additional Print Function Exercises

# 🧠 20 `print()` Examples with Answers and Explanations

### 1. Example

In [ ]:
print("Hello", "World")

💡 **Output:**
```
Hello World
```
🧠 **Explanation:** By default, `print()` separates items with a space.

### 2. Example

In [ ]:
print("2025", "06", "01", sep='-')

💡 **Output:**
```
2025-06-01
```
🧠 **Explanation:** `sep='-'` replaces the default space with a dash.

### 3. Example

In [ ]:
print("Loading", end='...')
print("Done")

💡 **Output:**
```
Loading...Done
```
🧠 **Explanation:** `end='...'` adds dots, next print continues on same line.

### 4. Example

In [ ]:
print("Python", "Is", "Fun", sep='')

💡 **Output:**
```
PythonIsFun
```
🧠 **Explanation:** `sep=''` joins items without spaces.

### 5. Example

In [ ]:
name = "Koni"
age = 21
print("Name:", name, "Age:", age)

💡 **Output:**
```
Name: Koni Age: 21
```
🧠 **Explanation:** Combines text and variables using default space.

### 6. Example

In [ ]:
print("14", "30", "45", sep=':')

💡 **Output:**
```
14:30:45
```
🧠 **Explanation:** Formats time using colon separator.

### 7. Example

In [ ]:
print("home", "user", "downloads", sep='/')

💡 **Output:**
```
home/user/downloads
```
🧠 **Explanation:** Simulates a UNIX file path.

### 8. Example

In [ ]:
print("Step 1", end=' ')
print("Step 2")

💡 **Output:**
```
Step 1 Step 2
```
🧠 **Explanation:** Prints both on same line using space.

### 9. Example

In [ ]:
print("Loading", end='')
print("...")

💡 **Output:**
```
Loading...
```
🧠 **Explanation:** Skips newline, second print starts immediately.

### 10. Example

In [ ]:
print("A", "B", "C", sep='-', end='.')

💡 **Output:**
```
A-B-C.
```
🧠 **Explanation:** Custom separator and line ending.

### 11. Example

In [ ]:
print("🙂", "🙂", "🙂", sep='')

💡 **Output:**
```
🙂🙂🙂
```
🧠 **Explanation:** Emojis with no space.

### 12. Example

In [ ]:
print("Name", "Age", "City", sep=',')

💡 **Output:**
```
Name,Age,City
```
🧠 **Explanation:** Simulates CSV format.

### 13. Example

In [ ]:
print("user", "domain.com", sep='@')

💡 **Output:**
```
user@domain.com
```
🧠 **Explanation:** Joins email parts.

### 14. Example

In [ ]:
print("+880", "123", "4567890", sep='-')

💡 **Output:**
```
+880-123-4567890
```
🧠 **Explanation:** Phone number format.

### 15. Example

In [ ]:
x = "Python"
y = "3.10"
print(x, y, sep=' v')

💡 **Output:**
```
Python v3.10
```
🧠 **Explanation:** Version string.

### 16. Example

In [2]:
print("First", "Middle", "Last", sep=' ')

First Middle Last

💡 **Output:**
```
First Middle Last
```
🧠 **Explanation:** Full name with space.

### 17. Example

In [ ]:
print("[", end='')
print("####", end='')
print("    ]")

💡 **Output:**
```
[####    ]
```
🧠 **Explanation:** Text-based progress bar.

### 18. Example

In [ ]:
day = 1
month = 6
year = 2025
print(day, month, year, sep='-')

💡 **Output:**
```
1-6-2025
```
🧠 **Explanation:** Date formatting.

### 19. Example

In [ ]:
print("Milk", "Bread", "Eggs", sep=' | ')

💡 **Output:**
```
Milk | Bread | Eggs
```
🧠 **Explanation:** Shopping list style.

### 20. Example

In [3]:
math = 80
science = 90
print("Math:", math, "Science:", science, sep=' | ')

Math: | 80 | Science: | 90

💡 **Output:**
```
Math: | 80 | Science: | 90
```
🧠 **Explanation:** Displays marks cleanly.


## 🧪 Real-World Questions for You to Try

Try solving these on your own:

1. Print your name and profession with a dash between.
2. Print today's date in `DD/MM/YYYY` format.
3. Create a file path like `C:\Users\Koni\Desktop`.
4. Print 5 stars (`*`) in one line without spaces.
5. Print your name, age, and city separated by commas.
6. Print “Starting...” and “Finished!” on the same line using `end`.
7. Combine the words `"Learn"`, `"Python"`, `"Fast"` with slashes `/`.
8. Format a version: `App v2.0.1`.
9. Display a progress message: `Processing...Done!`.
10. Print three smiley emojis with a space between each.